{% extends 'base.html' %}
{% load humanize thumbnail %}
{% block title %}Contact{% endblock %}

{% block content %}
<h1>List of Contacts</h1>
<hr>

<table class="table">
<tr>
    <th>Name</th>
    <th>Contact Type</th>
    <th>Group</th>
    <th>Email</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Phone 2</th>
    <th></th>
    <th></th>
</tr>
{% for contact in contact_list %}
<tr>
    <td>
    {{ contact.name }}
    </td>
    <td>
    {{ contact.get_contact_type_display }}
    </td>
    <td>
    {{ contact.group }}
    </td>
    <td>
    {{ contact.email }}
    </td>
    <td>
    {{ contact.address }}
    </td>
    <td>
    {{ contact.phone1 }}
    </td>
    <td>
    {{ contact.phone2 }}
    </td>
    <td>
        <a href="{% url 'bm:contact_update' contact.slug %}"class="btn btn-link btn-raised">Edit</a>
    </td>
    <td>
        <a href="{% url 'bm:contact_delete' contact.slug %}"class="btn btn-danger btn-raised">Delete</a>
    </td>
</tr>
{% empty %}
<tr>
    <td><b>You have no contacts.</b></td>
</tr>
{% endfor %}
</table>

<a href="{% url 'bm:contact_create' %}"class="btn btn-primary btn-raised">Add A New Contact</a>

{% endblock %}



