{% extends 'base.html' %}
{% block title %}Groups{% endblock %}

{% block content %}
<h1>List of Groups</h1>
<hr>

<table class="table">
<tr>
    <th>Name</th>
    <th></th>
    <th></th>
</tr>
{% for group in group_list %}
<tr>
    <td>
    {{ group.name }}
    </td>
    <td>
        <a href="{% url 'bm:group_update' group.slug %}">Edit</a>
    </td>
    <td>
        <a href="{% url 'bm:group_delete' group.slug %}">Delete</a>
    </td>
</tr>
{% empty %}
<tr>
    <td><b>You have no groups.</b></td>
</tr>
{% endfor %}
</table>

<a href="{% url 'bm:group_create' %}">Add A New Group</a>

{% endblock %}



