{% extends 'base.html' %}
{% block title %}Create or Update A Item{% endblock %}

{% block content %}
{% if object %}
<h1>Update Item</h1>
{% else %}
<h1>Create Item</h1>
{% endif %}
<hr>

<form action="." method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table class="table">
{{ form }}
<tr>
<td colspan="2" align="right">
    <button type="submit"class="btn btn-link btn-raised">
        {% if object %}
        Update
        {% else %}
        Create
        {% endif %}
    </button>
</td>
</tr>
</table>
</form>

<a href="{% url 'bm:item_list' %}"class="btn btn-primary btn-raised">Back To Item List</a>

{% endblock %}



