{% extends 'base.html' %}
{% block title %}Create or Update A Phase{% endblock %}

{% block content %}
{% if object %}
<h1>Update Phase</h1>
{% else %}
<h1>Create Phase</h1>
{% endif %}
<hr>

<form action="." method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table class="table">
{{ form }}
<tr>
<td colspan="2" align="right">
    <button type="submit">
        {% if object %}
        Update
        {% else %}
        Create
        {% endif %}
    </button>
</td>
</tr>
</table>
</form>

<a href="{% url 'bm:phase_list' %}">Back To Phase List</a>

{% endblock %}



