{% extends 'base.html' %}
{% load humanize thumbnail %}
{% block title %}Phases{% endblock %}

{% block extrascripts %}
<script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
            header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
            },
            editable: true,
            events: [ // put the array in the `events` property
            {% for phase in phase_list %}
                {
                    title  : '{{ phase.name }}',
                    start  : '{{ phase.start_date|date:"%Y-%m-%d" }}',
                    end    : '{{ phase.end_date|date:"%Y-%m-%d" }}'
                },
            {% endfor %}
            ],
    })

});
</script>
{% endblock %}

{% block content %}
<h1>List of Phases</h1>
<hr>

<table class="table">
<tr>
    <th>Name</th>
    <th>Project</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Order Materials By</th>
    <th>Depends On</th>
    <th>Completed?</th>
    <th></th>
    <th></th>
</tr>
{% for phase in phase_list %}
<tr>
    <td>
    {{ phase.name }}
    </td>
    <td>
    {{ phase.project }}
    </td>
    <td>
    {{ phase.start_date }}
    </td>
    <td>
    {{ phase.end_date }}
    </td>
    <td>
    {{ phase.order_materials_by }}
    </td>
    <td>
    {{ phase.depends_on }}
    </td>
    <td>
    {% if phase.completed %}Yes{% else %}No{% endif %}
    </td>
    <td>
        <a href="{% url 'bm:phase_update' phase.slug %}"class="btn btn-link btn-raised">Edit</a>
    </td>
    <td>
        <a href="{% url 'bm:phase_delete' phase.slug %}"class="btn btn-danger btn-raised">Delete</a>
    </td>
</tr>
{% empty %}
<tr>
    <td><b>You have no phases.</b></td>
</tr>
{% endfor %}
</table>

<a href="{% url 'bm:phase_create' %}" class="btn btn-primary btn-raised">Add A New Phase</a>

<div id='calendar'></div>

{% endblock %}



