{% extends 'base.html' %}

{% block title %}{% if project %}Update {{ project.name }} {% else %}Create a Project{% endif %}{% endblock %}

{% block content %}
<h1>{% if project %}Update {{ project.name }} {% else %}Create a Project{% endif %}</h1>
<hr>

<form action="." method="post" enctype="multipart/form-data">
  {% csrf_token %}
<table class="table">
  {{ form }}
<tr>
    <td colspan="2" align="right">
  <button class="btn btn-link btn-raised">{% if project %}Update{% else %}Create{% endif %}</button>
    </td>
</table>
</form>

<a href="{% url 'bm:project_list' %}" class="btn btn-primary btn-raised">Return to Project List</a>
{% endblock %}
